: :root {
    --cor-primaria:#351B4D;
    --cor-secundaria:#532c77;
    --cor-fundo:#FFFFFF;
    --cor-texto:#1a0e25;
    --cor-contraste:#eadcf8;
    --cor-botao:#eae3f0;
}

.tema-escuro{
    --cor-primaria:#bba6ce;
    --cor-secundaria:#7f6497;
    --cor-fundo:#000000;
    --cor-texto:#1a0e25;
    --cor-contraste:#3b284e;
    --cor-botao:#16101b;
}

body {
    max-width: 100vw;
}

header{
    background-color: var(--cor-primaria);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    border: 5px solid #0a1ed1;}
main {
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    margin: 0 auto;
    padding: 16px;

    display: flex;
    flex-wrap: wrap;
}

article{
    display: flex;

    border: 1px solid var(--cor-primaria);

    margin: 16px;
    gap: 16px;
    padding: 16px;

    flex: 1 1 25%;

    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

img{
    width: 80px;
    height: 80px;
}
.artigo-autor {
    font-weight: bold;
}
            